<div id="about-wrapper">

    <div id="header" class="h-70">
        <span class="nav-pos right right-0">
            <a href="javascript:layoutHelper.closeAbout()" class="right">
                <i class="fa fa-times fa-fontsize-big"></i>
            </a>
        </span>
    </div>

    ABOUT THIS STUFF
</div>
