<div class="page1-wrapper h-100p">
             
    <div id="header" class="header">
        <div class="left search" id="search-area">
            <div class="search-count-label hide">
                <span class="current-search-count">0</span> de <span class="search-count">0</span> resultados
            </div>
            <form action="#" onsubmit="return false;" class="inline form-left">
                <input type="search" class="w-search" id="page1-search-field" name="search_field" placeholder="Pesquisar">
            </form>
            <a id="page1-search-reset" href="javascript:void(0)" class="fa fa-times fa-fontsize-big hide clear-search"></a> 
            <span></span>
            <a href="javascript:void(0)" class="search-btn search-up-btn hide page1-search-up">
                <i class="fa fa-chevron-up fa-fontsize-big red mr-20 ml-20"></i>
            </a>
            <a href="javascript:void(0)" class="search-btn search-down-btn hide page1-search-down">
                <i class="fa fa-chevron-down fa-fontsize-big red mr-30"></i>
            </a>
        </div>

        <div class="left hidden-search">
            <span><span class="current-search-count">0</span> de <span class="search-count">0</span> resultados</span>
            <a href="javascript:void(0)" class="search-btn search-down-btn page1-search-down">
                <i class="fa fa-chevron-down fa-fontsize-big red"></i>
            </a>
            <a href="javascript:void(0)" class="search-btn search-up-btn page1-search-up">
                <i class="fa fa-chevron-up fa-fontsize-big red mr-20"></i>
            </a>
        </div>

        <span class="nav-pos right right-0 mt-5">
            <a href="javascript:void(0)" class="right page1-navigate-right">
                <i class="fa fa-arrow-right fa-fontsize-big"></i>
            </a>
        </span>
    </div>

    <div id="page1-content" class="w-wrapper viewport momentum-scroll">
        <!-- yield -->    
    </div>

    <div class="bottom-nav" id="bottom-nav1">
      <i class="fa fa-chevron-circle-up red fa-fontsize-xbig"></i>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            layoutHelper.onPage1Ready();
        });
    </script>

</div>
