<div class="h-100p">
             
    <div id="header" class="header">
        <div class="left search" id="search-area">

            <span class="left left-arrow mt-5">
                <a href="javascript:void(0)" class="page3-navigate-left">
                    <i class="fa fa-arrow-left fa-fontsize-big"></i>
                </a>
            </span>
            <div class="search-count-label hide">
                <span class="current-search-count">0</span> de <span class="search-count">0</span> resultados

            </div>
            <form action="#" onsubmit="return false;" class="inline form-right">
                <input type="search" class="w-search" id="page3-search-field" name="search_field" placeholder="Pesquisar">
            </form>
            <a id="page3-search-reset" href="javascript:void(0)" class="fa fa-times fa-fontsize-big hide clear-search"></a>            
            <a href="javascript:void(0)" class="search-btn search-up-btn hide page3-search-up clickable">
                <i class="fa fa-chevron-up fa-fontsize-big red mr-20 ml-20"></i>
            </a>
            <a href="javascript:void(0)" class="search-btn search-down-btn hide page3-search-down clickable">
                <i class="fa fa-chevron-down fa-fontsize-big red"></i>
            </a>
        </div>

        <div class="left hidden-search">
            <span><span class="current-search-count">0</span> de <span class="search-count">0</span> resultados</span>
            <a href="javascript:void(0)" class="search-btn search-down-btn page3-search-down clickable">
                <i class="fa fa-chevron-down fa-fontsize-big red"></i>
            </a>
            <a href="javascript:void(0)" class="search-btn search-up-btn page3-search-up clickable">
                <i class="fa fa-chevron-up fa-fontsize-big red mr-20"></i>
            </a>
        </div>
    </div>

    <div id="page3-content" class="w-wrapper viewport momentum-scroll">
        <div id="new-cpc-article-content" class="reference-article">
            <!-- yield -->    
        </div>

        <div id="old-cpc-articles-content" class="related-articles">
            <!-- yield -->    
        </div>        
    </div>

    <div>
        <a href="#" class="share-nav" id="share-social">
            <i class="fa fa-share-alt-square red fa-fontsize-xbig"></i>
        </a>
    </div>


    <div id="bottom-nav3">
      <i class="bottom-nav fa fa-chevron-circle-up red fa-fontsize-xbig"></i>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            layoutHelper.onPage3Ready();
        });
    </script>

</div>
